<%- include('./includes/head')%>

    <div class="navbar-stories">
       
        <div class="navigation">
            <div class="logo">
                <span>Let it Out</span>
            </div>
            <div class="hamburguer active"><i class="fas fa-bars"></i></div>
            <div class="links active">
                <ul class="link-itens">
                    <li><a href="">Home</a></li>
                    <li><a href="/user/writeStory">Publicar</a></li>
                    <li><a href="/user/stories">Histórias</a></li>
                    <li><a href="">Sobre nós</a></li>
                    <li><a href="/logout">Sair</a></li>
                </ul>
            </div>
            
        </div>
    </div>

    <div class="welcome-wrapper container">
        <div class="header">Suas Histórias</div>
        <div class="description">
            Seja bem vindo <%- user.name %>, apenas a suas histórias configuradas como
                públicas irão aparecer para outros usuários.
        </div>
    </div>

    <% if(stories) { %>
        <div class="stories-wrapper">
            <% stories.forEach(story=> { %>
                <div class="single-story">
                    <div class="date">
                        <%- moment(story.createdAt).format('DD-MM-YYYY') %>
                    </div>
                    <div class="title">
                        <%- story.title %>
                    </div>
                    <div class="body" >
                        <%- truncate(story.body, 150) %>
                    </div>
                    <button type="button"><a href="/user/story/<%- story._id%>">Leia mais</a></button>
                </div>
                
                <% }) %>
        </div>

        <% } %>
            <%- include('./includes/footer')%>